* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgray;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.introContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url(./media/background.jpg);
  background-size: auto;
  background-size: cover;
  background-position: center;
}

.intro {
  justify-content: center;
  flex-direction: column;
  align-items: center;

  text-align: center;
  width: 50%;
  display: flex;

  align-items: center;
  border-radius: 30px;
}
.intro > button {
  width: 60px;
  height: 40px;
  border-radius: 10px;
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.leaderBoard {
  text-align: center;
  border-radius: 10px 5%;
  background-color: brown;
}
.homeContainer {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  position: relative;
}
.homeImage {
  width: 30vh;
  height: 50vh;
  border-radius: 20px;
  overflow: hidden;
}
.homeImage:hover {
  width: 32vh;
  height: 52vh;
}
.homeText {
  text-align: center;
  color: azure;
}
.cardContainer {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration-line: none;
}
.link {
  text-decoration: none;
  color: wheat;
}
.cardCharacters {
  height: 70px;
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: space-evenly;
}
.cardCharac {
  display: flex;
  gap: 10px;
}
.cardButton {
  display: flex;
  gap: 10px;
  align-items: space-evenly;
}
.cardclick {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}
.cords {
  width: 23px;
  height: 45px;
}
.card {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.btnCard {
  height: 100px;
  width: 50px;
}
.btnCont {
  border: 3px solid red;
  border-radius: 50px;
  overflow: hidden;
  width: 50px;
  height: 50px;
  z-index: 2;
}
.btnCont:hover {
  width: 100px;
  height: 100px;
}
.charButton {
  width: 100px;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  display: flex;
  flex-direction: column;
}
.reply {
  height: 50px;
  top: 100px;
  right: 50%;
  position: absolute;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-color: bisque;
  border: 2px solid red;
}
.winner {
  position: absolute;
  top: 70px;
  width: 650px;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(88, 82, 82, 0.6);
}
.winnerForm {
  background-color: antiquewhite;
  border-radius: 20px;
  display: flex;
  padding: 15px;
  flex-direction: column;
  align-items: center;
}
.leaderBoardContainer {
  position: relative;
  top: 15vh;
  text-align: center;
}
.leaderBoardImages {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 10px;
}
.boardItems {
  color: azure;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: x-large;
}
.content {
  width: 100%;
  gap: 10px;
  color: black;
  margin-bottom: 20px;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 600px) {
  .cardContainer {
    width: 600px;
  }
}
